@import "tailwindcss";

:root {
  --bg-dark: hsl(0, 0%, 96%);
  --bg: hsl(0, 0%, 98%);
  --bg-light: hsl(0, 0%, 100%);
  --text: hsl(0, 0%, 9%);
  --text-muted: hsl(0, 0%, 30%);
  --border: hsl(0, 0%, 90%);
}

@theme inline {
  --color-background: var(--bg-dark);
  --color-foreground: var(--text);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto-mono);
  --font-emphasis: var(--font-instrument-serif);
  --font-heading: var(--font-satoshi);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-dark: hsl(0, 0%, 0%);
    --bg: hsl(0, 0%, 4%);
    --bg-light: hsl(0, 0%, 10%);
    --text: hsl(0, 0%, 93%);
    --text-muted: hsl(0, 0%, 70%);
    --border: hsl(0, 0%, 10%);
  }
}

body {
  background: var(--bg-dark);
  color: var(--text);
  font-family: var(--font-inter);
}
